*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    color: blue;
    text-decoration: underline;
    padding: 10px;
    background-color: black;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}